html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr_only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* General Styling */
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* Header Stylings */

.header_wrapper {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-image: url(./Assets/image-1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}

h1 {
    margin-top: 250px;
    margin-right:150px;
    padding-right: 50px;
    font-size: 13rem;
    float:right;
    width: 50%;
    font-family: 'Fredericka the Great', cursive;
    color:#FCFCFC;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 117px;
    position: relative;
}

header nav {
    float:left;
    margin-top:30px;
}

header nav li {
    display: inline-block;
    margin: 0 15px;
}

nav li a{
    color: #FCFCFC;
    font-family: 'Cormorant Garamond', serif;
    font-size:2.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

header i {
    color: #FCFCFC;
    font-size: 4rem;
    font-weight:lighter;
    margin: 10px;
}

.socials li {
    text-align: center;
}

.socials {
    float:right;
    clear:right;
    margin-top:200px;
    /* margin-right:30px; */
}

/* Story Section Styling */

.story {
    background-color:#152d20;
    padding: 100px 0;
}

.story figure,
.suzie_story {
    float:left;
}

.story figure {
    margin-right:40px;
    width: calc(25% - 40px);
}

.suzie_story {
    width: 75%;
}

.suzie_story p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color:#fcfcfc;
    margin-bottom: 50px;
    font-weight: 300;
    line-height: 29px;
}

.suzie_story h2 {
    font-family: 'Fredericka the Great', cursive;
    color:#FCFCFC;
    font-weight: 400;
    text-transform: uppercase;
    font-size:5.1rem;
    margin-bottom:10px;
}

.story a {
    background-color: #FCFCFC;
    padding:15px 30px;
    font-family:'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 29px;
    color:#000000;
}

/* Friends Section Styling */

.friends {
    background-color:#C3D3CB;
    padding: 50px;
}

.friends img {
    float:left;
    width: 33%;
    padding: 20px;
    margin-bottom: 50px;
}

.friends h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 4.9rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #152d20;
    text-align: center;
    width: 40%;
    float: center;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 30%;
}

/* Icon Banner Stylings  */

.icon_banner {
    background-color: #152d20;
    padding: 60px;
}

.icon_banner i {
    color: #FCFCFC;
    font-size: 7rem;
    padding-bottom: 20px;
}

.icon_banner p {
    font-size: 4rem;
    color: #FCFCFC;
    font-family:'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-weight:600;

}


.icon_banner span{
    display: block;
}


.animal_spotlight {
    float: left;
    text-align: center;
    margin-left: 12%;
    padding: 0 70px;
}

.events {
    float: left;
    text-align: center;
    padding: 0 100px;
    padding-top: 25px;
}

.merch {
    float: left;
    text-align: center;
    padding: 0 70px;
    padding-top: 25px;
}

/* Blog Stylings */

.blog h2 {
    font-family: 'Fredericka the Great', cursive;
    color: #152d20;
    font-size: 3.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    
}

.blog p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 60px;
}

.blog a {
    background-color: #152d20;
    padding: 15px 30px;
    color: #FCFCFC;
    font-family:'Cormorant Garamond', serif;
    font-size: 1.8rem;
    line-height: 29px;
    text-transform: uppercase;
    font-weight: 600;
}


/* Zebra Facts Stylings */

.zebra_facts {
    background-image: url(./Assets/image-7.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.zebra_facts h2{
    width: 30%;
    
}

.zebra_facts p{
    width: 45%;

}
/* Animal Bond Stylings */

.animal_bond {
    background-image: url(./Assets/image-2.jpg);
    background-position: left;
        background-repeat: no-repeat;
    background-size: 50%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.animal_bond_text {
    width: 40%;
    float:right;
    clear:right;
    
}

/* Contact Stylings */

.contact {
    background-color: #152d20;
    padding-top: 50px;
    padding-bottom: 100px;
}

.contact h2 {
    font-family:'Cormorant Garamond', serif;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 29px;
}

.contact_nav {
    float:left;
    padding-top: 70px;
}

.contact_nav ul li {
    margin-bottom:10px;
}

.subscribe {
    float:left;
    margin-left: 20%;
    color:#FCFCFC;
    text-align: center;
    padding-top: 70px;
}

.subscribe p {
    margin-bottom: 10px;
}

.subscribe input {
    width: 500px;
    height: 50px;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    float:left;
    display:block;
    text-indent: 30px;
}



.subscribe button {
    background-color: #000000;
    font-family:'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 29px;
    color: #FCFCFC;
    margin: 0;
    padding: 11px 30px;
    display: block;
    float:left;
    border: none;
}


.contact_info {
    float:right;
    color:#FCFCFC;
    text-align: right;
    padding-top: 70px;
}

/* Footer Styling */

footer {
    background-color: #000000;
    padding: 10px;
}

footer p{
    font-family: 'Roboto', sans-serif;
    color: #FCFCFC;
    text-align:center;
    font-size: 2rem;
    font-weight:300;
}